@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mohawk Car Rentals</h1>
    <p>Serving the Mohawk College community since 1966.</p>
    <img src="~/images/car.jpg" alt="An image of a car" width="612" height="375"/>
</div>
